header img{
    width:100%;
}
#social img{
    padding:5px;
    float:right;
    width:25px;
    height:25px;
    bottom:0px;
}

#footer{
    display: none;
}

/* Tablet Mode Portrait and Landscape */
@media screen and (min-width: 768px)
      and (max-width: 1024px)
{

#wrapper{
    width: 100%;
    margin: 0 auto;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


#social img{
    padding:5px;
    float:right;
    width:25px;
    height:25px;
    bottom:0px;
}

}
