body{
    padding:0px;
    margin:0px;
}
header img{
    margin-top:46px;
    width:100%;
}

#social{
    position: fixed;
    right: 0px;
    bottom:0px;
}

#social img{
    width:25px;
    height:25px;
    clear: all;
    display: inline;
    margin-right: 10px;
    margin-top: 275px;
}

#footer{
    display: none;
}

.img {
    width: 240px;
    height: 240px;
    padding: 30px;
    display: inline-block;
}

#widget {
    clear: all;
    margin-left: 10px;
    margin-top: 685px;
}

#job {
    clear: all;
    margin-left: 10px;
    margin-top: 700px;
}

#camp {
    clear: all;
    margin-left: 10px;
    margin-top: 375px;
}

.desc {
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}

h2 {
    font-family: arial;
    color: black;
    font-size: 40px;
    margin-top: 100px;
}

h3 {
    font-size: 17px;
    padding-left: 10px;
}

hr {
    color: grey;

}

/*.navbar{
    display:none;
}*/

#blog {
    height:200px;
    width:140px;
    /*border:1px solid black;*/
    font:17px/26px Georgia, Garamond, Serif, red;
    overflow:auto;
    float: right;
    padding: 20px;
    padding-top: 20px;
    color: red;
}

#blog img {
    width: 80px;
    height:80px;
}

#blog li {
    text-decoration: none;
    text-decoration-style: none;
    list-style-type: none;
    padding-left: 0px;
    /*border: 2px solid black;*/
}
#calendar {
    padding-top: 40px;
}

.meetup {
    display: block;
    margin-left: 40px;
}

span {
    color: black;
    font-size: 12px;
}

#email {
    float: right;
    clear: right;
    height: 260px;
    width: 140px;
    /*order: 1px solid black;*/
    font:17px/26px Georgia, Garamond, Serif, red;
    padding: 10px;
    color: red;
    margin-top: 0px;
}

#mainContainer {
    padding-right: 20px;
}
#sidebar {
    float: right;
    /*border: 2px solid black;*/
    height: 600px;
    width: 180px;
    background-color: #D8D6D6;
    margin-top: 20px;

}


@media screen and (min-width: 768px)
{

#wrapper{
    padding: 0px;
    width: 100%;
    margin: 0px auto;
}

.navbar{

    width: 100%;

    display: block;
    position: fixed;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.navbar li {
    float: left;
}

.navbar li a {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar li a:hover:not(.active) {


    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


#social img{
    padding:5px;
    float:right;
    width:25px;
    height:25px;
    bottom:0px;
}

#eventsbutton{
background-color: white;
border: none;
color: red;
padding: 32px 16px;
text-align: center;
text-decoration: none;
margin-right: 35%;
margin-left: 35%;
font-size: 24px;
border-radius: 4px;
}

}
