header img{
    width:100%;
}
#social img{
    padding:5px;
    float:right;
    width:25px;
    height:25px;
    bottom:0px;
}

#footer{
    display: none;
}

.img {
    width: 240px;
    height: 240px;
    padding: 25px;
    display: inline-block;
}

#widget {
    clear: all;
    margin-left: 10px;
    margin-top: 685px;
}

#job {
    clear: all;
    margin-left: 10px;
    margin-top: 700px;
}

#camp {
    clear: all;
    margin-left: 10px;
    margin-top: 375px;
}

.desc {
    text-align: center;
    font-size: 20px;
}

h2 {
    font-family: arial;
    color: blue;
    font-size: 30px;
    margin-top: 100px;
}
/*>>>>>>> completed links for "learning code"*/


/* Tablet Mode Portrait and Landscape */
@media screen and (min-width: 768px)
      and (max-width: 1024px)
{

#wrapper{
    width: 100%;
    margin: 0 auto;
}
/*<<<<<<< 25344bc34d1e4a1e108a9ebaf023c2033830c1f3*/
.navbar ul {


/*>>>>>>> completed links for "learning code"*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/*<<<<<<< 25344bc34d1e4a1e108a9ebaf023c2033830c1f3*/
.navbar li {
    float: left;
}

.navbar li a {

    float: left;
}

#navbar li a {
/*>>>>>>> completed links for "learning code"*/
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*<<<<<<< 25344bc34d1e4a1e108a9ebaf023c2033830c1f3*/
.navbar li a:hover:not(.active) {

/*#navbar li a:hover:not(.active) {*/
/*>>>>>>> completed links for "learning code"*/
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*<<<<<<< 25344bc34d1e4a1e108a9ebaf023c2033830c1f3*/

#social img{
    padding:5px;
    float:right;
    width:25px;
    height:25px;
    bottom:0px;
}

}
