header img{
    width:100%;
}

#social img{
    padding:5px;
    float:right;
    clear: all;
    width:25px;
    height:25px;
    bottom:0px;
}

#footer{
    display: none;
}

.img {
    width: 240px;
    height: 240px;
    padding: 30px;
    display: inline-block;
}

#widget {
    clear: all;
    margin-left: 10px;
    margin-top: 685px;
}

#job {
    clear: all;
    margin-left: 10px;
    margin-top: 700px;
}

#camp {
    clear: all;
    margin-left: 10px;
    margin-top: 375px;
}

.desc {
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}

h2 {
    font-family: arial;
    color: black;
    font-size: 40px;
    margin-top: 100px;
}

h3 {
    font-size: 17px;
}

hr {
    color: grey;
    
}

#blog {
    height:200px;
    width:140px;
    /*border:1px solid black;*/
    font:17px/26px Georgia, Garamond, Serif, red;
    overflow:auto;
    float: right;
    padding: 20px;
    padding-top: 0px;
    color: red;
}

#email {
    float: right;
    clear: right;
    height: 220px;
    width: 140px;
    b/*order: 1px solid black;*/
    font:17px/26px Georgia, Garamond, Serif, red;
    padding: 20px;
    color: red;
}

#mainContainer {
    padding-right: 20px;
}
#sidebar {
    float: right;
    /*border: 2px solid black;*/
    height: 100%;
    width: 180px;
    background-color: #bde6ff;
    margin-top: 5px;
}


/*>>>>>>> completed links for "learning code"*/


/* Tablet Mode Portrait and Landscape */
@media screen and (min-width: 768px)
{

#wrapper{
    width: 100%;
    margin: 0 auto;
}

.navbar ul {



    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.navbar li {
    float: left;
}

.navbar li a {

    float: left;
}

.navbar li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar li a:hover:not(.active) {


    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


#social img{
    padding:5px;
    float:right;
    width:25px;
    height:25px;
    bottom:0px;
}
}


@media screen and (min-width: 1024px){
    #wrapper{
        width: 80%;
    }

}